:root {
  --font-main: "Roboto", sans-serif;
  --hover-blue: #165ea6;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  cursor: default;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.75fr 3fr;
  grid-template-columns: 1.25fr 4fr;
}

img {
  cursor: pointer;
}

nav {
  background-color: dodgerblue;
  grid-area: 1 / 1 / 3 / 2;
  color: white;
  display: grid;
  grid-template-rows: 50px 250px 125px;
  align-content: start;
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.05);
  z-index: 2;
  gap: 30px;

  h1 {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
    justify-self: start;

    img {
      width: 45px;
      height: 45px;
    }
  }

  li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: start;
    align-items: center;
    

    img {
      justify-self: center;
    }
  }

  li:hover {
    cursor: pointer;
    background-color: var(--hover-blue);
  }
}

.menu,
.settings {
  font-size: 1.2rem;
  font-weight: 500;
}

.menu {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.settings {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

header {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  z-index: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search {
  justify-items: start;
  align-items: center;
  display: grid;
  grid-template-columns: 0.75fr 10fr;
  padding-left: 30px;
}

.icon {
  width: 25px;
  height: 25px;
}

.search-bar {
  width: 80%;
  height: 60%;
  background-color: rgb(230, 230, 230);
  border-radius: 50px;
  border: none;
  padding-left: 20px;
}

.account {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  place-items: center;
  padding: 10px;
}

.user-name {
  font-weight: 700;
}

.profile-picture {
  width: 40px;
  height: 40px;
  background-color: yellow;
  border-radius: 20px;
}

.bottom {
  display: grid;
  grid-template-columns: 2fr 1.25fr;
}

.user-info {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  justify-content: start;
  align-content: center;
  gap: 15px;
  padding-left: 40px;
}

.picture-two {
  width: 60px;
  height: 60px;
  background-color: yellow;
  border-radius: 40px;
}

.user-welcome {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  gap: 3px;

  p {
    font-size: 0.8rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.actions {
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  list-style-type: none;

  li {
    background-color: dodgerblue;
    color: white;
    width: 70%;
    height: 40%;
    border-radius: 50px;
    place-content: center;
    place-items: center;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.8rem;
  }

  li:hover {
    background-color: var(--hover-blue);
  }
}

section {
  background-color: lightgray;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 3fr 1.25fr;
}

.projects {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.project {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  display: grid;
  grid-template-rows: auto;

  h3 {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  p {
    font-size: 0.8rem;
    color: rgb(98, 98, 98);
    line-height: 1.5;
  }
}

.share {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  place-content: end;

}

.project::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: rgb(255, 177, 31);
  display: block;
  border-radius: 5px 0 0 5px;
  left: 0;
  top: 0;
  bottom: 0;
}

aside {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 20px 20px 0;
}

.announcements {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1px 1fr 1px 1fr;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

  h4 {
    font-size: 0.8rem;
    justify-self: start;
    margin-bottom: 5px;
  }

  p {
    font-size: 0.7rem;
    color: rgb(98, 98, 98);
    line-height: 1.5;
  }

  hr {
    border: none;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
  }
}

.announcement {
  display: grid;
  place-items: center;
  place-content: center;
}

.trending {
  background-color: white;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.trending-user {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  gap: 5px;

  h5 {
    font-size: 0.8rem;
    font-weight: 500;
  }

  p {
    font-size: 0.8rem;
    color: rgb(98, 98, 98);
  }
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 20px;
}

.user {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-self: start;
  gap: 5px;
}
